body {
  font-family: 'DM Sans';
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: $page-color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

button {
  padding: 0px;
}
