.container {
  // width: 100%;
  margin: 0 auto;
  // padding: 0px 20px;
  // margin: 40px 20px;

  @include _mobile {
    max-width: 767px;
  }

  @include _tablet {
    max-width: 1279px;
    padding: 0px 32px;
  }

  @include _desktop {
    max-width: 1440px;
    padding: 0px 24px;
  }
}
