@import './common';
// font
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,700);
// utils
@import './utils/mixins';
@import './utils/variables';
// common
@import './container';
@import './base';
// components
@import './components/header';
@import './components/auth-modal';
@import './components/categories';
@import './components/shopping-list';
@import './components/topic';
@import './components/bestseller-by-type';
@import './components/bestseller';
@import './components/description-modal-book';
@import './components/home-page';
@import './components/menu';
@import './components/navigation';
@import './components/pagination';
@import './components/support-Ukraine';
@import './components/back-to-top';
@import './components/footer';
