// Колір тексту
$page-color-dark: #202024;
$page-color-light: #ffffff;
$page-color-accent: #4f2ee8;
// Колір автора
$writer-color: #b4afaf;
// Колір кнопки актуальної сторінки
$current-page-color: #eac645;
// Просто чорний колір
$black-color: #000000;
//Колір фону
$background-color: #f6f6f6;

// Колір title-shopping-list
$shopping-list-title: #111111;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
