<!-- <section class="book-card">
  <div class="container books">
    <h2 class="book-card__title">
      Best Sellers <span class="book-card__filter">Books</span>
    </h2> -->
<!-- BookCategoryText є виключно у розділі "Всі категорії"!!! -->
<!-- <div class="books-container"></div> -->
<!-- <h2 class="book-card__category-subtitle"></h2> -->
<!-- <ul class="book-card__list"></ul> -->

<!-- </div> -->
<!-- </div>
</section> -->

<section class="book-card">
  <h2 class="book-card__title">
    Best Sellers <span class="book-card__filter">Books</span>
  </h2>
  <!-- BookCategoryText є виключно у розділі "Всі категорії"!!! -->
  <!-- <div class="books-container"></div> -->
  <!-- <h2 class="book-card__category-subtitle"></h2> -->
  <ul class="book-card__list"></ul>

  <!-- </div> -->
</section>
