<footer class="page-footer">
  <div class="container">
    <div class="page-footer-content">
      <p class="page-footer-year">2023</p>
      <p class="page-footer-rights">All rights reserved</p>
      <div class="page-footer-goit">
        <span>Developed with</span
        ><button class="button-heart" type="button">
          <svg width="20" height="20" class="modal-heart">
            <use href="./images/heart.svg"></use>
          </svg></button
        ><span>by GoIT Students</span>
      </div>
    </div>
  </div>
</footer>
