<footer class="page-footer">
  <div class="container">
    <div class="page-footer-content">
      <p class="page-footer-year">2023</p>
      <p class="page-footer-rights">All rights reserved</p>
      <div class="page-footer-goit">
        <span>Developed with</span
        ><a
          href="https://github.com/Alexon7/team-project-book"
          class="footer__link"
          aria-label="link-to-main-page"
        >
        </a>
        <svg class="heart" width="25" height="25">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        <span>by GoIT Students</span>
      </div>
    </div>
  </div>
</footer>
