<section class="section container main" id="shopping-list">
  <div class="shopping-list__container">
    <!-- Added block - desktop -->
    <div class="support-div">
      <include src="./partials/support.html"></include>
    </div>
    <div class="shopping-list__desktop">
      <div class="shopping-list-header">
        <h2 class="shopping-list-header__title">
          <span class="shopping-list-header__main">Shopping</span>
          <span class="shopping-list-header__span">List</span>
        </h2>
      </div>
      <!-- Empty list - default -->
      <div class="shopping-list__empty">
        <p class="shopping-list__text">
          This page is empty, add some books and proceed to order.
        </p>
        <!-- <img
          src="./images/shopping-list/empty_shopping_list@2x.png"
          alt="books"
        /> -->

        <img
          srcset="
            ./images/shopping-list/empty_shopping_list@1x.png 265w,
            ./images/shopping-list/empty_shopping_list@2x.png 644w
          "
          sizes="(min-width: 768px) 322px,(max-width: 767px) 265px, 100vw"
          src="./images/shopping-list/empty_shopping_list@1x.png"
          alt="books"
          loading="lazy"
        />
      </div>

      <!-- Render added books-->
      <div class="shopping-list__not-empty">
        <ul class="shopping-list__list"></ul>
        <div
          id="tui-pagination-container"
          class="tui-pagination is-hidden"
        ></div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
</section>
