<aside class="support__container">
<div class="">
    <h3 class="support__icon">Support Ukraine
        <svg class="pic" width="20" height="32"> </svg>
         <!-- <use href="./img/sprite.svg#icon-coat"></use>  -->
     </h3>
    <div class="swiper swiper__support" data-id="swiperSupport">
    <ul class="support__list swiper-wrapper">
        <li class="support__item swiper-slide">01</li>

    </ul>
    </div>
    <div class="swiper__direction">
    <div class="support__button arrow">
        <svg  class ="support__icon" width="38" height="38"> 
         <!-- <use href="./img/sprite.svg#icon-down"></use>  -->
         </svg>
    </div>
    </div>
</div>
</div>
</aside>  

