
<section class="support slider support__container container">
  <div class="support__wrap-title Support__wraper">
    <h2 class="support__title slider__title support__header">
      Support Ukraine
    </h2>
    <svg
      class="support__icon"
      width="20"
      height="32"
      aria-label="Emblem of Ukraine"
    >
      <use href="./images/sprite.svg#icon-emblem"></use>
    </svg>
  </div>
  <div class="swiper slider">
    <ul class="support__list-js swiper-wrapper"></ul>
  </div>
  <button class="support__btn swiper-button-next" type="button">
    <svg class="support__btn-icon" width="20" height="20">
      <use href="./images/sprite.svg#sup-arrow"></use>
    </svg>
  </button>
</section>
