
<section class="slider support__container container">
    <div class="Support__wraper">
       
            <h2 class="slider__title support__header">Support Ukraine
                <svg class="support__icon" width="20" height="32" aria-label="Emblem of Ukraine">
                    <use href="./images/sprite.svg#icon-emblem"></use>
                </svg>
            </h2>
            
                <div class="slider">
                    <ul class="support__list swiper-wrapper js_support_list"></ul>
               
                <div class="slider-pagination">
                    <button class="swiper-button-next  support__btn">
                        <svg class="support__btn_icon" width="20" height="20">
                            <use href="./images/sprite.svg#sup-arrow"></use>
                        </svg>
                    </button>
                
             </div>
            
        </div>
    </div>
</section>