<!-- Світла / Темна - тема -->
<div class="toolbar">
  <!-- Розмітка переключателя теми -->
  <div class="theme-switch">
    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Перемикач світлої та темної теми"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>
  </div>
</div>
<!-- hhhh -->
