.auth__backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: auto;

  background: $page-color-accent;
  // background: rgb(156, 135, 255);
  // background: linear-gradient(
  //   93deg,
  //   rgba(156, 135, 255, 1) 0%,
  //   rgba(79, 46, 232, 1) 30%
  // );

  text-align: center;
  padding: 10px;
  z-index: 100;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.elips {
  z-index: -5;
  position: absolute;

  background: rgba(203, 236, 231, 0.502);
  filter: blur(539.791px);

  @include _tablet {
    width: 1421px;
    height: 1421px;

    left: -846px;
    top: -918px;
  }
  width: 963px;
  height: 1134px;

  left: -646px;
  top: -718px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__modal {
  width: 300px;
  padding: 40px 10px 10px;
  @include _mobile {
    width: 350px;
    padding: 50px 20px 20px;
  }
  @include _tablet {
    width: 580px;
    padding: 65px 25px 25px;
  }

  @include _desktop {
    padding: 80px 40px 40px;
  }
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: $page-color-light;
  border: 2px solid $black-color;
  border-radius: 18px;
}

.auth__icon__close {
  display: block;

  width: 20px;
  height: 20px;

  @include _mobile {
    width: 24px;
    height: 24px;
  }
  @include _tablet {
    width: 28px;
    height: 28px;
  }

  stroke: $black-color;
}

.auth__button__close {
  position: absolute;
  cursor: pointer;
  top: 13px;
  right: 10px;

  @include _mobile {
    top: 15px;
    right: 15px;
  }
  @include _tablet {
    top: 20px;
    right: 20px;
  }
  @include _desktop {
    top: 24px;
    right: 24px;
  }
  background-color: transparent;
  border: 0;

  & > .auth__icon__close:hover,
  & > .auth__icon__close:focus {
    stroke: $page-color-accent;
  }
}

.auth__field {
  display: block;
  position: relative;
  margin-bottom: 13px;

  @include _mobile {
    margin-bottom: 18px;
  }
  @include _tablet {
    margin-bottom: 24px;
  }
  @include _desktop {
    margin-bottom: 28px;
  }
}

.auth__field:nth-child(3) {
  margin-bottom: 20px;

  @include _mobile {
    margin-bottom: 30px;
  }
  @include _tablet {
    margin-bottom: 40px;
  }
}

.auth__input {
  padding: 10px 20px;
  font-size: 14px;

  @include _mobile {
    padding: 15px 30px;
    font-size: 18px;
  }
  @include _tablet {
    height: 64px;
    padding: 20px 40px;

    font-size: 24px;
  }

  width: 100%;

  border: 2px solid $black-color;
  border-radius: 40px;
  display: block;

  cursor: pointer;
}

.auth__label {
  position: absolute;

  top: 12px;
  left: 20px;

  font-size: 13px;

  @include _mobile {
    top: 18px;
    left: 30px;

    font-size: 15px;
  }
  @include _tablet {
    left: 40px;
    font-size: 18px;
  }

  font-weight: 700;

  line-height: calc(24 / 18);

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: $black-color;

  cursor: pointer;

  transition: 300ms;
}

.auth__input:focus + .auth__label,
.auth__input:not(:focus):valid + .auth__label {
  top: 5;
  font-size: 10px;
}

.auth__icon__name {
  fill: #000;
  position: absolute;

  top: 18;
  right: 32;
  width: 28px;
  height: 28px;
}

.auth__icon__pass,
.auth__icon__mail {
  position: absolute;

  top: 10;
  right: 20;

  width: 20px;
  height: 20px;

  @include _mobile {
    width: 24px;
    height: 24px;

    top: 15;
    right: 25;
  }

  @include _tablet {
    width: 28px;
    height: 28px;
  }

  @include _desktop {
    top: 18;
    right: 32;
  }
}

// .auth__icon__pass {
//   position: absolute;

//   top: 50;
//   right: 20;

//   width: 20px;
//   height: 20px;

//   @include _mobile {
//     width: 24px;
//     height: 24px;

//     top: 15;
//     right: 25;
//   }

//   @include _tablet {
//     width: 28px;
//     height: 28px;
//   }

//   @include _desktop {
//     top: 18;
//     right: 32;
//   }
// }

.auth__button {
  cursor: pointer;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 100px;

  background: $black-color;
  border-radius: 40px;
  border: none;

  @include _mobile {
    padding: 15px 110px;
    font-size: 13px;
  }

  @include _tablet {
    padding: 20px 154px;
    margin-bottom: 7px;
    font-size: 15px;
  }
  @include _desktop {
    padding: 20px 213px;
    margin-bottom: 10px;
    font-size: 17px;
  }

  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #f3f3f3;

  &:disabled {
    background-color: #ababab;
    border: none;
    cursor: default;
    color: $black-color;
  }
}

.auth__link__block {
  text-align: center;
}
.auth__link {
  font-weight: 700;
  font-size: 13px;
  @include _mobile {
    font-size: 15px;
  }
  @include _tablet {
    font-size: 18px;
  }
  line-height: calc(24 / 18);

  letter-spacing: -0.01em;

  text-transform: uppercase;

  color: rgba(17, 17, 17, 0.5);
}
.auth__link:nth-child(1) {
  margin-right: 7px;

  @include _mobile {
    margin-right: 10px;
  }
  @include _tablet {
    margin-right: 15px;
  }
  @include _desktop {
    margin-right: 20px;
  }
  color: $page-color-accent;

  text-decoration-line: underline;
}

.btn-hidden {
  display: none;
}

.link__signup,
.link__signin {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
  font-weight: 700;
  line-height: 24px;
  color: $page-color-accent;

  border-bottom: 2px solid $page-color-accent;
  text-transform: uppercase;
}

.auth__notify {
  margin-bottom: 20px;
  color: $page-color-accent;
  line-height: 1.5;
}

.auth__false__notify {
  margin-bottom: 20px;
  padding: 10px;
  color: #dc143c;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.auth__true__notify {
  margin-bottom: 20px;
  padding: 10px;
  color: $page-color-accent;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.auth__true__notify > span {
  margin-top: 15px;
  display: block;
  font-size: 16px;
  color: #464060;
}

.auth__button__logout {
  margin-left: auto;
  margin-right: auto;
}

.dropdown-content {
  outline: 1px red solid;
}
