// Iskra Matjuha

.book-category {
  height: 230px;
  overflow: auto;
  margin-top: 40px;
}

.category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;

  color: rgba(17, 17, 17, 0.6);
  letter-spacing: -0.02em;
  cursor: pointer;

  // @include _tablet {
  //   width: $tablet;
  //   font-size: 18px;
  // }
}

.category:not(:last-child) {
  @include _tablet {
    width: $tablet;
    margin-bottom: 32px;
  }
  margin-bottom: 24px;
}
.category.is-active,
.category:hover,
.category:focus {
  text-transform: uppercase;
  font-weight: 700;
}

.light-theme {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme {
  color: rgba(17, 17, 17, 0.6);
}

.light-theme .category.is-active,
.light-theme .category:hover,
.light-theme .category:focus {
  color: #4f2ee8;
}
.dark-theme .category.is-active,
.dark-theme .category:hover,
.dark-theme .category:focus {
  color: #eac645;
}
