.basicLightbox {
  overflow-y: auto;
}

.book-modal {
  background-color: white;
  outline: 1.5px solid black;
  border-radius: 18px;
  position: relative;
  width: 335px;
  transform: translate(0%, 100px);
}
