//upd

.basicLightbox {
  overflow-y: auto;
}

.book-modal {
  background-color: $page-color-light;
  outline: 2px solid $page-color-dark;
  border-radius: 18px;
  padding: 40px 24px;
  position: relative;
  max-width: 335px;
  transform: translate(0%, 100px);
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px;
  color: $page-color-dark;
}

.book-modal__img {
  display: block;
  height: 408px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 14px;
}

.book-modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;

  margin-bottom: 4px;
  color: $page-color-dark;
}

.book-modal__author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;

  margin-bottom: 18px;

  letter-spacing: -0.04em;

  color: $writer-color;
}

.book-modal__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;

  letter-spacing: -0.04em;
  color: $page-color-dark;
}
