.page-footer {
  &-content {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    @include _tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .page-footer-year::before {
      content: '\00A9';
    }
    .page-footer-year {
      padding-left: 10px;
      font-family: 'DM Sans';
      font-size: 19px;
      line-height: 1.33;
      letter-spacing: 0.1em;
      // color: $page-color-dark;
      color: grey;
    }
    .page-footer-rights {
      @include _tablet {
        border-width: medium;
        border-style: hidden solid hidden solid;
        border-color: grey;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 19px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: grey;
      }
    }
    .page-footer-goit {
      font-size: 21px;
      color: grey;
      font-weight: 500;
      // span {
      // }

      // .footer__link:hover {
      //   // transform: 'scale(1.25)';
      //   // color: violet;
      //   // transform: rotate(45deg);
      // }
      // .footer__link:focus {
      //   // transform: 'scale(1.25)';
      //   // color: violet;
      // }
      .heart {
        fill: rgb(143, 56, 183);
      }
      .heart:hover {
        color: violet;
        animation-name: changeColor, scaling;
        animation-duration: 3000ms;
      }
      @keyframes changeColor {
        0% {
          color: teal;
        }

        50% {
          color: orange;
        }
      }
      @keyframes scaling {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.4);
        }
      }

      // .heart:hover {
      //   transform: 'scale(1.25)';
      // }
      // .heart:focus {
      //   transform: 'scale(1.25)';
      // }
      // .modal-heart {
      //   width: 20px;
      //   height: 20px;
      // }
      // .button-heart:hover {
      //   content: 'scale(1.25)';
      //   color: violet;
      // }
      // .button-heart:focus {
      //   content: 'scale(1.25)';
      //   color: violet;
      // }
      .modal-heart {
        color: currentColor;
      }
      button {
        border: none;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .footer__link {
    display: none;
  }
}

.message {
  position: fixed;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  bottom: 65px;
  left: 60%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f6f6f6;
  color: grey;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.message-link {
  font-family: 'DM Sans';
  font-size: 21px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: gray;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
