#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #9d72d5ea;
  z-index: 1001;
  @include transition(all);
  opacity: 1;
  visibility: visible;

  &.done {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;

  opacity: 1;
  visibility: visible;

  &.done {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.loader .appearance {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .appearance:nth-child(1) {
  width: 100%;
  height: 100%;
  color: silver;
  border-color: silver transparent transparent silver;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .appearance:nth-child(2) {
  width: 70%;
  height: 70%;

  color: rgb(93, 55, 158);

  border-color: silver silver transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .appearance .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .appearance .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: silver;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
    0 0 0 0.5em rgba(95, 89, 186, 0.1);
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
