.body.dark-theme {
  .shopping-list-header__main {
    color: $page-color-light;
  }

  .shopping-list-header__span {
    color: $page-color-accent;
  }

  .shopping-list__text {
    color: rgba(255, 255, 255, 0.6);
  }

  .shopping-book {
    color: $page-color-light;
    background-color: $black-color;
  }
}

.body.light-theme {
  background-color: $background-color;

  .shopping-list__text {
    color: rgba(0, 0, 0, 0.6);
  }

  .shopping-book {
    color: $page-color-dark;
  }

  .book-text-title {
    color: $shopping-list-title;
  }
}

.shopping-list {
  &__container {
    margin: 40px 20px;

    @include _desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__desktop {
    @include _desktop {
      margin-left: 40px;
      max-width: 1440px;
    }
  }

  &-header {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;

    // color: $page-color-dark;

    @include _tablet {
      font-size: 48px;
      line-height: 1.08;
    }

    @include _desktop {
      // margin-bottom: 140px;
    }

    &__span {
      color: $page-color-accent;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;

    width: 265px;
    @include _tablet {
      width: 349px;
    }
    @include _desktop {
      margin-top: 140px;
    }
  }

  &__text {
    margin-bottom: 14px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    text-align: center;
    letter-spacing: -0.02em;

    @include _tablet {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: center;
  }

  &__not-empty {
  }
}

.shopping-book {
  position: relative;
  padding: 20px;

  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  // background-color: $page-color-light;
}

.is-hidden {
  display: none;
}

.support-div {
  display: none;
  @include _desktop {
    display: block;
  }
}

.shopping-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;

  cursor: pointer;
  border: none;
  background-color: inherit;
}

.delete-icon {
  pointer-events: none;
}

.book {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.book__img {
  margin-bottom: 4px;
}

.book__links {
  align-items: center;
}

.book__link {
  width: 100%;
}

.book__author {
  margin-bottom: 48px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.04em;
  text-align: left;

  color: #b4afaf;
  @include _tablet {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
}

.book__text {
}

.book__text-title {
  margin-bottom: 4px;
  max-width: 144px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include _tablet {
    max-width: fit-content;
  }
}

.book__text-type {
  margin-bottom: 24px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;

  letter-spacing: 0.03em;

  color: #b4afaf;
}

.book__links {
  width: 136px;
  height: 30px;

  display: flex;
  gap: 14px;
}

.book__links > .link {
}
