//  .support__container {
//    position: relative;

//    width: 335px;
//    height: 352px;

//    background-image: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
//        #4f2ee8 18.03%,
//        #ffffff 100%);
//    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
//    border-radius: 16px;

//    margin-left: auto;
//    margin-right: auto;
//    overflow: hidden;
//  }

//  .support__title {
//    font-weight: 700;
//    font-size: 28px;
//    line-height: calc(32 / 28);
//    letter-spacing: -0.04em;
//    color: white;

//    padding-left: 40px;
//    padding-top: 24px;
//  }

//  .support__icon {
//    position: absolute;
//    top: 24px;
//    margin-left: 12px;
//  }

//  .support__list {
//    padding-top: 40px;
//    padding-bottom: 16px;
//  }

//  .support_btn {
//    display: flex;
//    align-items: center;
//    justify-content: center;

//    position: absolute;
//    bottom: 20px;
//    left: 50%;
//    transform: translateX(-50%);

//    width: 38px;
//    height: 38px;
//    padding: 1px;
//    border-radius: 20px;
//    border: none;
//  }

.support__container {
  // margin: 0 auto;
  padding: 24px 40px 20px 40px;
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  max-width: 335px;
  height: 352px;
  height: 100%;
  // overflow-y: scroll;
  background-image: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );

  @include _tablet {
    // height: 472px;
    padding-bottom: 14px;
  }

  @include _desktop {
    max-width: 356px;
    height: 490px;
    padding-bottom: 24px;
  }
}

.support__header {
  display: inline-flex;
  margin-bottom: 40px;
  color: white;
  font-size: 28px;
  letter-spacing: -0.04em;
}

.support__icon {
  margin-left: 12px;
}

.support__list {
  margin-bottom: 16px;

  @include _tablet {
    margin-bottom: 32px;
  }

  @include _desktop {
    margin-bottom: 40px;
  }
}

.support__link {
  display: flex;
  align-items: center;
}

.support__item:not(:last-child) {
  margin-bottom: 20px;
}

.support__number {
  margin-right: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: white;
}

.support__img {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.support__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50%;
  background-color: white;
  padding: 6px;

  @include _tablet {
    padding: 8px;
  }
}

.support__btn_icon {
  width: 20px;
  height: 20px;

  @include _tablet {
    width: 22px;
    height: 22px;
  }
}
